<div class="alert alert-info alert-dismissible view_event" role="alert" style="display:none;">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
   </span><span class="sr-only">Close</span></button>
   <strong>Congrats!!</strong> You are eligible for 5% discount on this event.
</div>

<div class="panel panel-default view_event">
  <div class="panel-body">
   <%= link_to "Back", events_path %>
  </div>
</div>

<div class="panel panel-info view_event">
   <div class="panel-heading"><%= @event.name%></div>
	  <div class="panel-body">
	    <label>Happening:</label> 
	    	<%= @event.due_date.strftime("%d %b %y")%> <br>
	    <label>Created On: </label> 
	   	  <%= @event.created_at.strftime("%d %b %y %H:%M:%S")%> <br>
	    <label>Fee: </label> 
	   	  <%= @event.fee.nil? ? 'Free' : @event.fee rescue 'Free' %> (* 5% discount if Female) <br>
	    <label>Last Updated: </label> 
	      <%= @event.updated_at.strftime("%d %b %y %H:%M:%S")%> <br>
	    <label>Total Attending: </label> 
	      <%= @event.users.size %> <br>
      <label>Participation Status: </label> 
        <%= user_event_status @event%> <br>
      
      <% if @event.discount_applicable? current_user %>
        <% if (user_event_status @event) != "Attending" %>
	        <script type="text/javascript">show_offer()</script>
        <% end %>
      	<label>You Pay: </label> 
      	<%= @event.process_discount %> <br>
      <% end %>
      
      <label>People attending this event: </label> 
	    <% @event.users.each_with_index do |user, index|%>
	      <% if index == @event.users.size - 1%>
        	<span title="<%= user.email%>"><%= "#{user.name}"%></span> 
	      <% else %>
        	<span title="<%= user.email%>"><%= "#{user.name}, "%></span> 
	      <% end %>
	    <% end %>
	  </div>

</div>

